@font-face {
  font-family: oleoScript;
  src: url('../font/OleoScriptSwashCaps-Regular.ttf');
}

#bodyOfProfil{
  font-family: oleoScript;
}
img#logo {
  width: 160px;
  height: 60px;
}
.cacher{
  display: none;
}
.montrer{
  display: block;
}
.loader {
  border: 15px solid #f3f3f3; /* Light grey */
  border-top: 15px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p#p_deal {
  letter-spacing: 0.1em;
  text-align: center;
  font-family: serif;
  font-size: 1.3rem;
}
.jumbotron {
  text-align: center;
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
  background-color: rgb(4, 9, 83);
  color: white;
  margin-bottom: 0;
}
.img {
  padding: 0;
}
hr#spacer{
  margin-top: 80px;
}
h6 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}
img#search {
  width: 20px;
  height: 20px;
}
div.button {
  width: 12px;
}
h4.art {
  font-family: Georgia, "Times New Roman", Times, serif;
}
div#footer {
  margin-top: 60px;
}

div.flex {
  display: flex;
  justify-content: space-around;
}
a.card {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 600;
  font-size: 15px 50px;
  text-decoration: none;
  background-color: rgba(75, 108, 216, 0.863);
  padding: 15px;
  margin: 0 auto;
}

a.card > p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
h2.mt-4{
  font-family: oleoScript;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
}
p.paragraph_p{
  font-family: oleoScript;
}

div.btn-group-sm{
  font-family: oleoScript;
}
input#code{
  font-family: oleoScript;
}